[submodule "diffusers"]
	path = src/diffusers
	url = https://github.com/Birch-san/diffusers.git
[submodule "k-diffusion"]
	path = src/k-diffusion
	url = https://github.com/Birch-san/k-diffusion.git
[submodule "lora"]
	path = src/lora
	url = https://github.com/Birch-san/lora.git
[submodule "src/ml-stable-diffusion"]
	path = src/ml-stable-diffusion
	url = https://github.com/Birch-san/ml-stable-diffusion.git
[submodule "src/coremltools"]
	path = src/coremltools
	url = https://github.com/Birch-san/coremltools.git
